a.button, input.button, span.button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none repeat-x scroll center top #212121;
	border-color: #212121;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px 1px 0;
	box-shadow: 0 1px 0 0 #5C5C5C inset, 0 2px 3px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font: 300 12px/30px Helvetica,Arial,sans-serif;
	height: 30px;
	min-width: 125px;
	padding: 0 10px;
	text-align: center;
	text-shadow: 0 -1px 0 #191919;
	text-decoration: none;
	vertical-align: bottom;
}

a.button .legend_deleted {
	background: none repeat scroll 0 0 pink;
	display: inline-block;
	float: left;
	height: 10px;
	margin-top: 10px;
	margin-right: 4px;
	width: 10px;
}

a.button .legend_default {
	background: none repeat scroll 0 0 yellowgreen;
	display: inline-block;
	float: left;
	height: 10px;
	margin-top: 10px;
	margin-right: 4px;
	width: 10px;
}

div.buttons_popup {
	margin-top: 6px;
	text-align: right;
	width: 100%;
}

.search_bar {
	float: left;
	margin-bottom: 6px;
}

.search_bar fieldset {
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
}

.search_bar .search_field, .button_bar .search_field {
	height: 30px;
	padding: 0 10px;
	margin: 0;
	border-radius: 5px;
	border: 1px solid #999;
	width: 250px;
	line-height: 28px;
}

.search_bar .mw-ui-input, .button_bar .mw-ui-input {
	display: inline-block;
	width: 250px;
}

.mw-ui-button.with_legend > span:first-child {
	background: none repeat scroll 0 0 black;
	display: inline-block;
	float: left;
	height: 10px;
	margin-top: 2px;
	margin-right: 4px;
	width: 10px;
}

.mw-ui-button.with_legend > span.legend_deleted {
	background: none repeat scroll 0 0 pink;
}

.mw-ui-button.with_legend > span.legend_default {
	background: none repeat scroll 0 0 yellowgreen;
}

.mw-ui-button.with_legend > span.legend_in_dev,
.mw-ui-button.with_legend > span.legend_legacy {
	background: none repeat scroll 0 0 burlywood;
}

div.buttons.popup {
	margin-bottom: 0;
}

.button_bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	margin-bottom: 10px;
}

.button_bar .buttons_left {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: auto 1em auto 0;
}

.button_bar .button_break {
	order: 0;
	flex: 1 1 auto;
	align-self: auto;
}

.button_bar .buttons_right {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin: auto 0 auto 1em;
}

.button_bar form {
	display: inline-block;
}

.button_bar fieldset {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0 none;
}

.button_bar a.mw-ui-button {
	line-height: 1.2em
}

.initially_hidden {
	display: none;
}

.popupWrapper {
	background-color: rgba(70, 70, 70, 0.6);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.7);
	padding: 4px;
	z-index: 1000;
	position: absolute;
}

.popupInner {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}

	.skin-hydradark .popupInner {
		background: none repeat scroll 0 0 #000;
	}

.popupWrapper label.label_above {
	display: block;
	font-size: 1.1em;
	margin-top: 0.5em;
}